    {% extends "base.html" %}

    {% block content %}

    <h2 class="mb-4">Audit Logs</h2>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th class="text-center">Admin ID</th>
                <th class="text-center">Action</th>
                <th class="text-center">Target</th>
                <th class="text-center">Created</th>
            </tr>

        </thead>

        <tbody>

        {% for log in logs %}

            <tr>
                <td class="text-center">{{ log.admin_id }}</td>

                <td class="text-center">{{ log.action }}</td>

                <td class="text-center">{{ log.target }}</td>

                <td class="text-center">{{ log.created_at }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% endblock %}