{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <div>

        <h2>
            Welcome {{ email }}
        </h2>

        <p>
            Manage your resumes below.
        </p>

    </div>

    <div>

        <a href="{{ url_for('main.upload_resume') }}"
           class="btn btn-primary">

            Upload Resume

        </a>

    </div>

</div>

<form method="GET" action="{{ url_for('main.dashboard') }}" class=" row g-3 mb-5">
    <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search resumes..." value="{{ search }}">
            <button class="btn btn-dark">Search</button>
    </div>
</form>

<form method="GET" class="mb-4">
        <div class="row">
                <div class="col-md-3">
                        <select name="sort" class="form-select">
                                <option value="latest"
                                    {% if sort == "latest" %}
                                        selected
                                    {% endif %}
                                >
                                    Latest
                                </option>
                                <option value="oldest" 
                                    {% if sort == "oldest" %}
                                        selected
                                    {% endif %}
                                >
                                    Oldest
                                </option>
                        </select>
                </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-dark px-3 py-1.5">
                Submit
            </button>
        </div>
</form>

<div class="card shadow-lg border-0 p-4 rounded-4 mt-4">

    <h4 class="mb-3">
        Uploaded Resumes
    </h4>

    {% if resumes %}

        <table class="table">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>Uploaded At</th>
                    <th class="text-center">Actions</th>
                </tr>

            </thead>

            <tbody>

                {% for resume in resumes %}

                <tr>

                    <td>
                        {{ resume.id }}
                    </td>

                    <td>
                        {{ resume.original_filename }}
                    </td>

                    <td>
                        {{ resume.uploaded_at.strftime('%d %b %Y %I:%M %p') }}
                    </td>
                    
                    <td>
                        <div class="d-flex justify-content-center gap-2">
                            <a href="{{ url_for('main.analyze_resume_page', resume_id=resume.id) }}" class="btn btn-success btn-sm">
                                Analyze
                            </a>
                        
                            <a href="{{ url_for('main.job_match', resume_id=resume.id) }}" class="btn btn-dark btn-sm">
                                Job Match
                            </a>
                        </div>
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    {% else %}

    <div class="alert alert-info">

        {% if search %}

            No resumes found for "{{ search }}"
        
        {% else %}

            No resumes uploaded yet.

        {% endif %}

    </div>

    {% endif %}

</div>

{% endblock %}