{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <div>

        <h2>
            Welcome {{ email }}
        </h2>

        <p>
            Manage your resumes below.
        </p>

    </div>

    <div>

        <a href="{{ url_for('main.upload_resume') }}"
           class="btn btn-primary">

            Upload Resume

        </a>

    </div>

</div>

<div class="card shadow-lg border-0 p-4 rounded-4">

    <h4 class="mb-3">
        Uploaded Resumes
    </h4>

    {% if resumes %}

        <table class="table">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Filename</th>
                    <th>Uploaded At</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>

                {% for resume in resumes %}

                <tr>

                    <td>
                        {{ resume.id }}
                    </td>

                    <td>
                        {{ resume.original_filename }}
                    </td>

                    <td>
                        {{ resume.uploaded_at }}
                    </td>
                    
                    <td>
                        <a href="{{ url_for('main.analyze_resume_page', resume_id=resume.id) }}" class="btn btn-success btn-sm">
                            Analyze
                        </a>
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    {% else %}

    <div class="alert alert-info"> No resumes uploaded yet. </div>

    {% endif %}

</div>

{% endblock %}