{% extends "base.html" %}

{% block title %}
Resume Analysis
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">

    <div class="card shadow-lg border-0 rounded-4 p-4">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <h2>
                Resume Analysis
            </h2>

            <a href="{{ url_for('main.dashboard') }}"
               class="btn btn-secondary">

                Back to Dashboard

            </a>

        </div>


        <div class="mb-4">

            <h5>
                Resume Filename
            </h5>

            <p>

                {{ result.resume.original_filename }}

            </p>

        </div>


        <div class="mb-4">

            <h5>
                ATS Score
            </h5>

            <div class="progress" style="height: 35px;">

                <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{ result.ats_score }}%;"
                >

                    {{ result.ats_score }}%

                </div>

            </div>

        </div>

        <div class="mb-4">

            <h5>
                Resume Feedback
            </h5>

            <div class="alert alert-info">

                {{ result.feedback }}

            </div>

        </div>
            
            <div class="mb-4">

                <h4>
                    AI Resume Feedback
                </h4>

                <div style="border: 1px solid #ccc; border-radius: 10px; margin: 0;" class="card ai-feedback">

                    {% for line in result.ai_feedback.split('\n') %}

                        {% if line.startswith('##') %}

                            <h5 class="feedback-heading">
                                {{ line.replace('##', '').strip() }}
                            </h5>

                        {% elif line.startswith('-') %}

                            <p class="feedback-point">
                                {{ line.replace('-', ' ').strip() }}
                            </p>

                        {% endif %}

                    {% endfor %}

                </div>

            </div>

        <div class="mb-4">

            <h5>Extracted Resume Text</h5>

                <div style="border: 1px solid #ccc; border-radius: 10px; margin: 0;" class="card px-2 py-2">

                    <p style="margin: 0; padding: 10px; text-indent: 0; white-space: normal;">
                        {{ result.text }}
                    </p>

                </div>

        </div>

    </div>

</div>

{% endblock %}